<!DOCTYPE html>
<html> 
<body style="background-image: url('http://2.bp.blogspot.com/-hFnmz-vdeko/Tye-3Fs0AAI/AAAAAAAAGiw/5nOjLwx7mzM/s1600/Iris_flower_violet%2B%25287%2529.jpg');">
	
	<center>
	
	<h1>Iris Flower Classifier</h1> 

	<div> 
		<form action="/result" method="post"> 
			<label><b>Sepal length(cm)</b></label> 
			<input type="text" name="sl"><br> 
			
			<br><label><b>Sepal width(cm)</b></label> 
			<input type="text" name="sw"><br>

			<br><label><b>Petal length(cm)</b></label> 
			<input type="text" name="pl"><br>

			<br><label><b>Petal width(cm)</b></label> 
			<input type="text" name="pw"><br>

			<br><h1>{{prediction}}</h1>

			<br>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form> 
	</div> 

	</center>

	<!-- <img src="https://study.com/cimages/course-image/the-things-they-carried-study-guide_309865_large.jpg"> -->
</body> 
</html> 
